#=============== 
#Unity generated
#===============
/beansjam_unity/[Ll]ibrary/
/beansjam_unity/[Tt]emp/
/beansjam_unity/[Oo]bj/

#=====================================
#Visual Studio / MonoDevelop generated
#=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.csproj

#============
#OS generated
#============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

Export
packages
Test
ScreenShots
ScreenShots/*

*.swp

Assets/Scenes/Levels
Test/
TestResults/
tools/SteamUpload/output

Assets/save.dat*

SavedAsset.dat*


GeneratedAsset.dat*

levles.asset*
*.chapp
*.chapp.meta

test-results
test-results.meta
